
.container {

    list-Style-Type: none;
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-Items: center;
    height: 9rem;

}

a {
    text-decoration: none;

}