.worldmap {
  position: relative;
  text-decoration: none;
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: inherit;

  .background-image {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .planet {
    height: 7.94rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .comeSeeThe {
    position: relative;
    text-align: center;
    width: 28.13rem;
    height: 2.69rem;
    flex-shrink: 0;
    color: white;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    font-family: var(--font-fugaz-one);
  }
  .chooseALocation {
    font-size: var(--font-size-xl);
    font-family: var(--font-actor);
    text-align: center;
    width: 30rem;
    height: 4.25rem;
    color: white;
  }
  .pins {
    position: relative;
    width: 87rem;
    height: 61.3rem;
  }
  .london,
  .madrid,
  .porto,
  .pragh,
  .salo,
  .dakhla,
  .newyork,
  .tallin,
  .rome,
  .venice,
  .tarifa,
  .cuzco,
  .helgoland,
  .vectorIcon11,
  .mexicocity,
  .paris,
  .amsterdam,
  .dubai,
  .kotor,
  .herat,
  .quebec {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-gray-200);
    position: absolute;
    overflow: hidden;
    top: 20.81rem;
    left: 23.97rem;
    width: 1.63rem;
    height: 1.81rem;
  }
  .vectorIcon {
    position: absolute;
    height: 100%;
    width: 56.25%;
    top: 0;
    right: 21.88%;
    bottom: 0;
    left: 21.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .porto {
    top: 26.8rem;
    left: 35.4rem;
    height: 2.06rem;
    transform: rotate(-15.92deg);
    transform-origin: 0 0;
  }
  .madrid {
    top: 27.5rem;
    left: 37.5rem;
    height: 2.06rem;
  }
  .london {
    top: 22.5rem;
    left: 38.5rem;
    height: 2.06rem;
  }
  .pragh {
    top: 23.5rem;
    left: 42.5rem;
    height: 2.06rem;
  }

  .salo {
    top: 25.5rem;
    left: 41.2rem;
    height: 2.06rem;
  }
  .venice {
    top: 25.5rem;
    left: 43.2rem;
    height: 2.06rem;
  }

  .newyork {
    top: 26.5rem;
    left: 16.75rem;
    height: 2.06rem;
  }
  .dakhla {
    top: 31rem;
    left: 35.8rem;
    height: 2.06rem;
  }

  .tallin {
    top: 20rem;
    left: 45.5rem;
    height: 2.06rem;
  }

  .tarifa {
    top: 29.2rem;
    left: 36.4rem;
    height: 2.06rem;
    transform: rotate(-10.92deg);
    transform-origin: 0 0;
  }
  .helgoland {
    top: 20.24rem;
    left: 42rem;
    height: 2.06rem;
    transform: rotate(29.51deg);
    transform-origin: 0 0;
  }

  .rome {
    top: 29rem;
    left: 42.5rem;
    height: 2.06rem;
  }

  .cuzco {
    top: 45rem;
    left: 15.97rem;
    height: 2.06rem;
  }

  .quebec {
    top: 24rem;
    left: 16.8rem;
    height: 2.06rem;
  }

  .paris {
    top: 24.2rem;
    left: 39.8rem;
    height: 2.06rem;
    transform: rotate(354deg);
    transform-origin: 0 0;
  }

  .mexicocity {
    top: 35rem;
    left: 8.5rem;
    height: 2.06rem;
  }

  .herat {
    top: 29rem;
    left: 53rem;
    height: 2.06rem;
  }

  .dubai {
    top: 33.3rem;
    left: 55rem;
    height: 2.06rem;
  }

  .amsterdam {
    top: 22.5rem;
    left: 39.5rem;
    height: 2.06rem;
    transform: rotate(-22.74deg);
    transform-origin: 0 0;
  }
  .kotor {
    top: 26.5rem;
    left: 44.5rem;
    height: 2.06rem;
  }
}
